<div *ngIf="!registerMode" class="container">
  <h1 class="jumbotron-heading">Album example</h1>
  <p class="lead text-muted">Something short and leading about the collection below—its contents
    , the creator, etc. Make it short and sweet, but not too
     short so folks don't simply skip over it entirely.</p>
  <p>
    <a href="#" class="btn btn-primary mr-2" (click)="registerToggle()">Register</a>
    <a href="#" class="btn btn-secondary my-2">Learn More</a>
  </p>
 
</div> 

<div *ngIf="registerMode" class="container">
    <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
 